extends layout

block content
    .main-container-sub.container
        h1.title-default= article.title
        h5 Written by #{article.authorname}
        p= page.body
        img(src=article.image, alt='Image', width=100%)
        a(href=article.link) #{article.linkname}
        hr
        if user
            if user.id == page.author
            a.btn.btn-light(href='/pages/edit/'+page._id) Edit
            a.btn.btn-danger.delete-page(href='#', data-id=page.id) Delete